<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
   <title>{% block title %}{% endblock %}</title>
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css"/>

</head>

<body>
<h1>Welcome to Sara's Young John Allen Site.</h1>

<h2>Powered by Django 1.5.1 and Python 2.7.2</h2>

<div class="headimage">
<img class="headimage" src="{{ STATIC_URL }}images/young.jpg" width="216"
    height="288" alt="Young John Allen"/>
<img class="headimage" src="{{ STATIC_URL }}images/old.jpg" width="225" height="288" alt="Young John Allen"/>
<h2 class="subhead">Young John Allen Papers</h2>
</div>

<div>
  <h3><a href="{% url finder %}">Search</a></h3>
</div>

<hr>
{% block content %}
{% endblock %}
</body>
</html>