{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}

<h2>Search the letters.</h2>
<table class="searchform">
<tr><td>
<form method="get" action="{% url finder %}">
    <table>
    {{ searchbox.as_table }}
    </table>
    <input type="submit" value="Search" />
    <!-- <input type="reset" value="Reset"/> -->
</form>

<td>  
    <ul class="searchtips"><h4>Keyword searches within the letters.</h4>
      <li>Multiple terms default to an "OR" search: <i>open sky</i> searches for <i>open</i> or <i>sky</i> within a letter</li>
      <li>For an exact search, use quotes: "open sky"</li>
      <li>To find all terms within a letter, use AND: open AND sky</li>
    </ul>
    <ul class="searchtips"><h4>Wildcards</h4>
      <li>You may search for multiple word forms by using ? (single
    letter) or * (multi-letter) for wildcards.</li>
    </ul>
</td></tr>
</table>
<hr/>

{% if server_error %}{{ server_error }}{% endif %}

{% if searchbox.is_valid %}

Displaying {{ letters_paginated.start_index }} - {{ letters_paginated.end_index }} of {{ letters_paginated.paginator.count }}

<ul>
  {% for letter in letters_paginated.object_list %}
    <li><a href="{% url letter_display letter.letter_doc.id %}{% if keyword %}?keyword={{ keyword }}{% endif %}">{{letter}}</a></li>
  {% endfor %}
</ul>
  
{% endif %}

{% endblock %}